*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

ul, ol {
    list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
    max-width: 100%;}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

.container { 
  width: 1158px; 
  padding-left: 15px;
  padding-right: 15px;  
  margin: 0 auto;  
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
 }

.footer-logo .logo-part{
    color: #f4f4fd;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.text-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
}

.text-nav .logo {
    padding: 24px 0;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.header-menu-list {
    padding: 24px 0;
}

.text-nav .nav-link:hover, 
.text-nav .nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-address {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    }

.text-address .contact-link:hover,
.text-address .contact-link:focus {
    color: #404bbf;
}

.zone {
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vp;
    background-image: linear-gradient(
        to right,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
    padding: 188px 0;
}

.zone-wrapper {
    display: flex;
    justify-content: center;
}

.title-first {
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
} 

.zone button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.zone .link:hover,
.zone .link:focus {
    background-color: #404bbf;
}

.features {
    padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-text {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.content-box {
    width: calc((100% - 72px) / 4);
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
}

.text-box {
    padding: 32px 16px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.weare {
    background-color: #f4f4fd;
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
}

.team {
    margin-top: 72px;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.title-weare {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
}

.list-weare {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: calc((100% - 72px) / 4);
}

.title-paragraf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.product {
    padding: 120px 0;
}

.product-box {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.product-list {
    flex-basis: content;
}


.text-product-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
}

.title-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.footer-style {
    background-color: #2e2f42;

}

.title-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
}

.footer-style {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-box {
    max-width: 264px;
}
